<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevTravels</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/mybookings.css">
</head>
<body>

  <!--Navbar starts-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/templates/home.html">DevTravels</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/templates/home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/templates/mybookings.html">My Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--navbar ends-->

 
  <!--Flights Details Start-->
  <div class="datatables">
    <div class="box">
        <!-- DataTales Example -->
        <div class="width card shadow-lg mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List of Flights:</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Flight Id</th>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Bill Amount</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Flight Id</th>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Bill Amount</th>
                            </tr>
                        </tfoot>
                        <tbody id="invoicesList">
                            <!-- <tr>
                             <td>Date</td>
                             <td>Status</td>
                             <td>Location</td>
                             <td>Action</td>
                         </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        


    </div>
</div>
<!--Flights Details Ends-->
  </div>
  
  <!--footer starts-->
  <footer>
    <center>
      <p>
        Mohd Aiman Saleem |
        DevRev &copy; 2023
      </p>

    </center>
  </footer>
  <!--footer ends-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>